<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>URL</key>
	<dict>
		<key>NBC</key>
		<dict>
			<key>URLPatterns</key>
			<array>
				<string>^http://www\.nbc\.com/(classic-tv/)?([^/]+/)?video/[^/]+/n\d+</string>
				<string>^http://www\.nbc\.com/[^/]+/video/[^/]+/\d+</string>
				<string>^http://www\.jaylenosgarage\.com/video/[^/]+/n\d+</string>
			</array>
		</dict>
		<key>MSNBC</key>
		<dict>
			<key>URLPatterns</key>
			<array>
				<string>^http://www.nbcnews.com/(id|video)/.+</string>
				<string>^http://www.today.com/video/.+</string>
				<string>^http://video.msnbc.msn.com/.+</string>
			</array>
		</dict>
		<key>MSNBC Podcast</key>
		<dict>
			<key>URLPatterns</key>
			<array>
				<string>^http://podcastfeeds.nbcnews.com/audio/podcast/.+</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
