<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>URL</key>
	<dict>
		<key>Cats Paw Images</key>
		<dict>
			<key>TestURLs</key>
			<array>
				<string>http://blog.catspawimages.com/2012/06/05/before-the-law/</string>
				<string>http://blog.catspawimages.com/2012/03/17/vacant-lots-near-group-health-overlake-center/</string>
			</array>
			<key>URLPatterns</key>
			<array>
				<string>^http://blog\.catspawimages\.com/.+</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
