<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>URL</key>
	<dict>
		<key>Ustream</key>
		<dict>
			<key>URLPatterns</key>
			<array>
				<string>^(?!.*/recorded/)http://www.ustream.tv/.+</string>
				<string>^http://www.ustream.tv/recorded/\d+</string>
			</array>
			<key>TestURLs</key>
			<array>
				<string>http://www.ustream.tv/channel/live-iss-stream</string>
				<string>http://www.ustream.tv/channel/little-house-live-2-lower</string>
				<string>http://www.ustream.tv/recorded/24656151</string>
				<string>http://www.ustream.tv/recorded/25340828/highlight/291652#utm_campaign=fhighlights&amp;utm_source=9&amp;utm_medium=news</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
