<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>URL</key>
	<dict>
		<key>Logo TV</key>
		<dict>
			<key>URLPatterns</key>
			<array>
				<string>^http:\/\/www\.logotv\.com\/video\/.+\/\d{7}\/playlist\.jhtml</string>
				<string>^http:\/\/www\.logotv\.com\/video\/misc\/\d{6,7}\/.+</string>
				<string>^http:\/\/www\.logotv\.com\/video\/\?id=\d{6,7}</string>
				<string>^http:\/\/www\.logotv\.com\/shows\/.+\/\d{6,7}\/(playlist|video)\/(#id=\d{7})?</string>
			</array>
		</dict>
	</dict>
	<key>PlexFrameworkFlags</key>
	<array>
		<string>UseRealRTMP</string>
	</array>
</dict>
</plist>
