<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>URL</key>
	<dict>
		<key>Mevio</key>
		<dict>
			<key>TestURLs</key>
			<array>
				<string>http://www.mevio.com/episode/308991/beat-the-fitness-slump</string>
				<string>http://www.mevio.com/channels/?cId=911677&amp;mId=8122039</string>
			</array>
			<key>URLPatterns</key>
			<array>
				<string>^http://www\.mevio\.com/episode/\d+/.+</string>
				<string>^http://www\.mevio\.com/channels/\?cId=\d+&amp;mId=\d+</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
