<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>URL</key>
	<dict>
		<key>GiantBomb</key>
		<dict>
			<key>TestURLs</key>
			<array>
				<string>http://www.giantbomb.com/videos/names-are-dropped-creatures-revealed-in-aliens-col/2300-4190/</string>
			</array>
			<key>URLPatterns</key>
			<array>
				<string>^http://(www\.)?giantbomb\.com/(videos|reviews)/[^/]+/\d+\-\d+</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
