<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>URL</key>
	<dict>
		<key>Goal</key>
		<dict>
			<key>URLPatterns</key>
			<array>
				<string>^http://www.goal.com/.+/.+/.+</string>
			</array>
			<key>TestURLs</key>
			<array>
				<string>http://www.goal.com/en/news/2898/euro-2012/2012/07/01/3212429/kev-the-psychic-chicken-from-kiev-predicts-euro-2012-spain</string>
			</array>
		</dict>
	</dict>
	<key>PlexFrameworkFlags</key>
	<array>
		<string>UseRealRTMP</string>
	</array>
</dict>
</plist>
