<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>URL</key>
	<dict>
		<key>Yahoo</key>
		<dict>
			<key>URLPatterns</key>
			<array>
				<string>^https?:\/\/((br|ca|de|es(\-us)?|fr|in|it|mx|uk)\.)?screen\.yahoo\.com/.+\-\d{9,}(-.+)?\.html</string>
				<string>^https?:\/\/movies\.yahoo\.com\/(movie|video)\/.+</string>
				<string>^https?:\/\/sports\.yahoo\.com\/video\/.+\-\d{9,}\.html</string>
				<string>^https?:\/\/gma\.yahoo\.com\/video\/.+\-\d{9,}\.html</string>
				<string>^https?:\/\/www\.yahoo\.com\/movies\/film\/.+</string>
			</array>
			<key>TestURLs</key>
			<array>
				<string>http://screen.yahoo.com/curious-cat-licks-vacuum-111005084.html</string>
				<string>http://movies.yahoo.com/movie/battleship-2012/trailers/battleship-theatrical-trailer-27565489.html</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
