<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>URL</key>
	<dict>
		<key>fxguidetv</key>
		<dict>
			<key>TestURLs</key>
			<array>
				<string>http://www.fxguide.com/fxguidetv/fxguidetv-114-nuke-6-3/</string>
				<string>http://www.fxguide.com/fxguidetves/fxguidetv-en-espanol-009/</string>
				<string>http://www.fxguide.com/fxpodcasts/ken-perlin-beyond-the-noise/</string>
				<string>http://www.fxguide.com/thevfxshow/the-vfx-show-128-harry-potter-and-the-deathly-hallows-part-2/</string>
				<string>http://www.fxguide.com/therc/the-rc93-grading-and-schedules/</string>
			</array>
			<key>URLPatterns</key>
			<array>
				<string>^http://www.fxguide.com/(fxguidetv|fxguidetves|fxpodcasts|thevfxshow|therc)/.+/</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
