<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>URL</key>
	<dict>
		<key>Zie</key>
		<dict>
			<key>TestURLs</key>
			<array>
				<string>http://www.zie.nl/video/opmerkelijk/Pinguins-springen-mis/m1fzbjrf91ag</string>
			</array>
			<key>URLPatterns</key>
			<array>
				<string>^http://www.zie.nl/video/[^/]+/[^/]+/[a-z0-9]{12}</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
