<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>URL</key>
	<dict>
		<key>Blip</key>
		<dict>
			<key>TestURLs</key>
			<array>
				<string>http://blip.tv/file/4662202</string>
				<string>http://blip.tv/play/h7Q5gsLSXwI</string>
				<string>http://blip.tv/david-mitchells-soapbox/wine-tasting-6238879</string>
			</array>
			<key>URLPatterns</key>
			<array>
				<string>^https?://(.+\.)?blip\.tv/(((file|play)/([A-Za-z0-9%_+]){7,11}(\.html)?)|([^/]+/.+\-(\d{6,7})))</string>
				<!-- This is for the 'Fallback' URL Service to match certain Blip embeds -->
				<string>(^https?://blip.tv/scripts/flash/.+?file=)?https?://blip.tv/rss/flash/\d{7}</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
