280NPLIST;1.0;D;K;26;CPApplicationDelegateClassS;13;AppControllerK;12;CPBundleNameS;14;PlexWebManagerK;16;CPPrincipalClassS;13;CPApplicationK;29;CPBundleLocalizedResourceKeysA;S;2;enS;2;esS;2;koS;2;itS;2;frS;2;nlS;2;daS;2;svS;2;deS;2;ruS;2;srS;2;fiS;9;xx-pirateS;7;xx-chefE;K;29;CPBundleInfoDictionaryVersiond;1;6K;18;CPBundleIdentifierS;23;com.plex.PlexWebManagerK;15;CPBundleVersionS;3;1.0K;19;CPBundlePackageTypeS;4;APPLK;20;CPBundleEnvironmentsA;S;7;BrowserS;8;CommonJSE;K;18;CPBundleExecutableS;17;PlexWebManager.sjK;36;CPBundleEnvironmentsWithImageSpritesA;S;7;BrowserE;K;17;CPApplicationSizeD;K;10;executabled;7;2696508K;4;datad;6;649726K;5;mhtmld;5;71394E;E;